:root {
    --base-color: 210, 50%;
}

header {
    background: hsl(var(--base-color), 75%);
    padding: 3rem;
}

h1 {
    text-align: center;
    color: hsl(var(--base-color), 20%);
}

nav {
    padding: 1rem;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    text-decoration: none;
    color: hsl(var(--base-color), 20%);
    padding: 1rem;
    transition: 1s ease;
    box-shadow: 3px 3px 3px black;
}

a:hover {
    color: hsl(var(--base-color), 35%);
    transition: 1s, boxshadow 1s ease;
    background-color: hsl(var(--base-color), 75%);  
    box-shadow: 6px 6px 6px black;
}

main {
    background-color: hsl(var(--base-color), 75%);
    color: hsl(var(--base-color), 20%);
}

div {
    transition: 1s ease;
}

div:hover {
    border-radius: 2px;
    background-color: hsl(var(--base-color), 20%);
    color: hsl(var(--base-color), 75%);
    padding: 1rem;
    transition: 1s ease;
}

img {
    max-width: 30%;
}

footer {
    color: hsl(var(--base-color), 20%);
    text-align: center;
    padding: 1rem;
    border-top: solid 5px hsl(var(--base-color), 0%);
}